<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Opera</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .documents-viewCSS {
            position: absolute;
            background-color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 700px;
            height: auto;
        }

        .selectEstado{
            background-color: #fff;
            padding: 7px;
            border: none;
            cursor: pointer;


        }
         

        /* Estilo para la superposición que oscurece la interfaz */
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            /* Fondo oscuro semi-transparente */
            z-index: 999;
            /* Asegúrate de que esté por encima de otros elementos */
        }

        /* Estilo para el spinner de carga */
        .spinner {
            border: 4px solid rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            border-top: 4px solid #3498db;
            /* Color del borde superior */
            width: 30px;
            /* Tamaño del spinner */
            height: 30px;
            /* Tamaño del spinner */
            animation: spin 1s linear infinite;
            /* Animación de rotación */
            position: absolute;
            top: 50%;
            /* Centrar verticalmente */
            left: 50%;
            /* Centrar horizontalmente */
            transform: translate(-50%, -50%);
            /* Ajustar para centrar */
        }

        /* Animación de rotación */
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .download-button,
        .delete-button {
            width: 120px;
        }

        .content-carnet-photo {
            display: flex;
            gap: 40px;
        }

        img {
            height: 250px;
            width: 250px;
            border-radius: 6px;
        }

        .fade-in {

            height: 250px;
            width: 250px;
            margin-bottom: 10px;
        }

        .modal-content ul li {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }


        .modal-content ul li span {
            display: flex;
            gap: 5px;
        }



        .foto-content-dad {
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-bottom: 20px;
        }

        .modal-content ul li {
            display: flex;
        }

        /* Estilo para los modales */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
            padding-top: 60px;
        }

        .form-group {
            display: flex;
            justify-content: space-between;
            width: 240px;
            gap: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid black;
            font-size: 12px;
            padding-bottom: 5px;
        }

        .form-group input {
            border: 2px solid #444;
            height: 2.5em;
            display: flex;
            padding-left: 0.8em;
            outline: none;
            border-radius: 10px;
            transition: all 0.5s;
            background-color: white;

        }

        #foto-upload-form input,
        #foto-upload-form button {
            width: 120px
        }

        .form-registrar-personal {
            display: flex;
            gap: 20px;
        }

        .modal-content {
            display: flex;
            background: #f2f2f2;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 120em;
            border-radius: 12px;
            max-width: 700px;
            flex-direction: column;
        }

        .close {
            color: #333;
            font-size: 28px;
            font-weight: bold;
            float: right;
            width: 40px;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .inputreadonly {
            opacity: 0;
        }


        .buttons-dad {
            display: flex;
            gap: 10px;
        }

        body {
            display: flex;
            background-color: #333;
        }

        .container {
            display: flex;
            background-color: #fff;
            height: 80vh;
            margin: 20px;
            width: 300px;
            justify-content: center;
            border-radius: 12px;
            padding: 30px 0px;
            overflow-y: scroll;
            scrollbar-width: none;

            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.268);

        }

        #btnAbrirModal {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }

        .left-panel {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        #edit-form {
            display: flex;
            gap: 20px;
        }

        #edit-form input {
            border: 2px solid #444;
            height: 2em;
            padding-left: 0.8em;
            outline: none;
            width: 80%;
            border-radius: 10px;
            transition: all 0.5s;
            background-color: #f9f9f9;
        }

        #edit-form input:hover,
        #edit-form input:focus {
            border: 2px solid #333;
            background-color: white;
        }

        .left-panel ul {
            flex-direction: column;
            display: flex;
            gap: 10px;
            cursor: pointer;
        }


        #btnAbrirModal,
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: inherit;
            color: #fff;
            background-color: #007bff;
            border: none;
            width: 200px;
            padding: 12px 16px;
            font-size: inherit;
            gap: 8px;
            margin: 12px 0;
            cursor: pointer;
            border-radius: 6px;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.2);
        }

        .left-panel ul li {
            padding: 7px;
            padding-right: 5px;
            list-style: none;
            width: 100%;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            transition: background-color 0.2s;
        }

        .left-panel ul li:hover {
            background-color: #333;
            color: #fff;
        }


        .right-panel {
            background: #ffffff;
            /* Fondo blanco para el carnet */
            margin: 20px;
            border-radius: 12px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            width: auto;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            /* Sombra sutil */
            font-family: 'Arial', sans-serif;
            /* Fuente más moderna */
        }

        .panel h2 {
            text-align: center;
            color: #333;
        }




        .fade-in {
            animation: fadeIn 0.5s ease-in-out;
            /* Animación de entrada */
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }


        label {
            font-weight: bold;
            color: #555;
        }

        input[type="text"],
        input[type="email"],
        input[type="date"],
        input[type="file"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 6px;
            transition: border-color 0.3s;
        }

        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="date"]:focus {
            border-color: #007bff;
            /* Color al enfocar */
        }

        button {
            background-color: #007bff;
            /* Color azul */
            color: white;
            border: none;
            border-radius: 6px;
            padding: 10px 15px;
            cursor: pointer;
            transition: background-color 0.3s;
            width: 100%;
        }

        button:hover {
            background-color: #0056b3;
            /* Color más oscuro al pasar el mouse */
        }

        .buttons-dad {
            display: flex;

            margin-top: 20px;

            flex-direction: column;
            gap: 10px;

        }

        #delete-persona,
        #view-docs-button {
            background-color: #dc3545;
            /* Rojo para eliminar */
            padding: 10px 15px;
            width: 170px;
        }

        #delete-persona:hover,
        #view-docs-button:hover {
            background-color: #c82333;
            /* Color más oscuro al pasar el mouse */
        }

        .inputreadonly {
            background-color: #f8f9fa;
            /* Fondo gris claro para campos de solo lectura */
            user-select: none;
        }

        /* Para pantallas pequeñas (móviles) */
        @media (max-width: 600px) {
            .content-carnet-photo {
                flex-direction: column;
                gap: 20px;
            }

            .download-button,
            .delete-button,
            #foto-upload-form input,
            #foto-upload-form button {
                width: 100%;
            }

            .container {
                width: 90%;
                margin: 10px;
                padding: 20px;
            }

            .modal-content {
                width: 90%;
                padding: 15px;
            }

            img,
            .fade-in {
                width: 100%;
                height: auto;
            }



            .form-group {
                width: 100%;
            }

            #btnAbrirModal,
            button {
                width: 100%;
            }

            .right-panel {
                margin: 10px;
                padding: 15px;
            }
        }

        /* Para pantallas medianas (tablets) */
        @media (min-width: 601px) and (max-width: 1024px) {
            .content-carnet-photo {
                flex-direction: column;
                gap: 30px;
            }

            .container {
                width: 80%;
                margin: 20px;
                padding: 25px;
            }

            .modal-content {
                width: 80%;
                padding: 20px;
            }

            img,
            .fade-in {
                width: 80%;
                height: auto;
            }

            .right-panel {
                margin: 15px;
                padding: 25px;
            }

            .buttons-dad {
                flex-direction: row;
                gap: 15px;
            }

            .form-group {
                width: 100%;
                gap: 8px;
            }
        }

        /* Para pantallas grandes (escritorios) */
        @media (min-width: 1025px) {
            .container {
                width: 350px;
                margin: 30px;
            }

            .modal-content {
                max-width: 60%;
            }

            img,
            .fade-in {
                width: 250px;
                height: 250px;
            }

            .buttons-dad {
                flex-direction: row;
                gap: 20px;
            }

            .form-group {
                width: 240px;
            }
        }


        /* Estilo general del modal */
        .modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background-color: #f9f9f9;
            width: 80%;
            max-width: 900px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            position: relative;
            overflow: hidden;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
        }

        /* Título del modal */
        #modal-title {
            text-align: center;
            margin-bottom: 20px;
            font-size: 24px;
            color: #333;
        }

        /* Vista de carpetas */
        #folders-view ul {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0;
            list-style: none;
            margin: 0;
        }

        #folders-view .folder {
            width: 120px;
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 2px solid #ddd;
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.3s ease;
            background-color: #fefefe;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        #folders-view .folder:hover {
            background-color: #f0f8ff;
            transform: scale(1.05);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
        }

        #folders-view .folder::before {
            content: "📁";
            /* Emoji de carpeta */
            font-size: 36px;
            margin-bottom: 8px;
        }

        #folders-view .folder span {
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            color: #333;
        }

        /* Vista de documentos */
        #documents-view {
            padding: 10px;
        }

        #documents-list {
            list-style: none;
            padding: 0;
            margin: 20px 0;
            max-height: 150px;
            overflow-y: scroll;
        }

        #documents-list li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #fff;
            transition: background-color 0.3s ease;
        }

        #documents-list li:hover {
            background-color: #f0f8ff;
        }


        #documents-list li span {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 7px;


        }

        #documents-list button {
            margin-left: 10px;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        #documents-list button:hover {
            background-color: #007bff;
            color: #fff;
        }

        #back-to-folders {
            display: inline-block;
            margin-bottom: 20px;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            background-color: #f1f1f1;
            color: black;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        #back-to-folders:hover {
            background-color: #ddd;
        }

        /* Botón de subir documentos */
        #upload-document-input {
            display: inline-block;
            margin-right: 10px;
        }

        #upload-document-button {
            display: inline-block;
            padding: 10px 15px;
            background-color: #0056b3;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        #upload-document-button:hover {
            background-color: #014288;
        }

        .descargar,
        .delete {
            background-color: #007bff;
            padding: 5px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
            cursor: pointer;

        }
    </style>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

</head>

<body>


    <div class="container">

        <!-- Panel izquierdo: Listado de personas -->
        <div class="panel left-panel">
            <ul id="personas-list">
                <!-- Lista de personas se llenará aquí -->
            </ul>
            <div id="loading-personas" class="loading-spinner" style="display: none;"></div>
        </div>


    </div>
    <!-- Panel derecho: Detalles de la persona -->
    <div class="panel right-panel" id="persona-details" style="display: none;">

        <div class="content-carnet-photo">

            <div class="foto-content-dad">
                <div id="persona-info" class="fade-in">
                    <!-- Información de la persona se llenará aquí -->

                </div>

                <div>

                    <form id="foto-upload-form" enctype="multipart/form-data">
                        <input class="select-documento" type="file" name="file" />
                        <button type="submit">Subir Foto</button>
                    </form>
                </div>

            </div>


            <form id="edit-form">
                <div>
                    <!-- Sección de Campos -->
                    <div class="form-group">
                        <!-- Nombres -->
                        <label for="nombres">Nombres:</label>
                        <input type="text" id="nombres" name="nombres"><br>
                    </div>

                    <div class="form-group">
                        <!-- Apellidos -->
                        <label for="apellidos">Apellidos:</label>
                        <input type="text" id="apellidos" name="apellidos"><br>
                    </div>

                    <div class="form-group">
                        <!-- Cédula -->
                        <label for="cedula">Cédula:</label>
                        <input type="text" id="cedula" name="cedula"><br>
                    </div>

                    <div class="form-group">
                        <!-- Fecha Ingreso -->
                        <label for="fecha_ingreso">Fecha Ingreso:</label>
                        <input type="date" id="fecha_ingreso" name="fecha_ingreso"><br>
                    </div>

                    <div class="form-group">
                        <!-- Fecha Terminación -->
                        <label for="fecha_terminacion">Fecha Terminación:</label>
                        <input type="date" id="fecha_terminacion" name="fecha_terminacion"><br>
                    </div>
                    <div class="form-group">
                        <!-- Campo calculado -->
                        <label>Contrato a Vencer:</label>
                        <div id="tiempo_restante" style="font-weight: bold; color: green;">Faltan X días</div>
                    </div>
                    <div class="form-group">
                        <!-- Tiempo de Trabajo -->
                        <label for="tiempo_trabajo">Tiempo de Trabajo (MESES):</label>
                        <input type="text" id="tiempo_trabajo" name="tiempo_trabajo"><br>
                    </div>

                    <div class="form-group">
                        <!-- Cargo -->
                        <label for="cargo">Cargo:</label>
                        <input type="text" id="cargo" name="cargo"><br>
                    </div>

                    <div class="form-group">
                        <!-- EPS -->
                        <label for="eps">EPS:</label>
                        <input type="text" id="eps" name="eps"><br>
                    </div>

                </div>
                <div>
                    <div class="form-group">
                        <!-- ARL -->
                        <label for="arl">ARL:</label>
                        <input type="text" id="arl" name="arl"><br>
                    </div>

                    <div class="form-group">
                        <!-- Caja Compensación -->
                        <label for="caja_compensacion">Caja Compensación:</label>
                        <input type="text" id="caja_compensacion" name="caja_compensacion"><br>
                    </div>

                    <div class="form-group">
                        <!-- Fondo de Pensiones -->
                        <label for="fondo_pension">Fondo de Pensiones:</label>
                        <input type="text" id="fondo_pension" name="fondo_pension"><br>
                    </div>

                    <div class="form-group">
                        <!-- Correo -->
                        <label for="correo">Correo:</label>
                        <input type="email" id="correo" name="correo"><br>
                    </div>

                    <div class="form-group">
                        <!-- Celular -->
                        <label for="celular">Celular:</label>
                        <input type="text" id="celular" name="celular"><br>
                    </div>

                    <div class="form-group">
                        <!-- Dirección -->
                        <label for="direccion">Dirección:</label>
                        <input type="text" id="direccion" name="direccion"><br>
                    </div>

                    <div class="form-group">
                        <!-- Foto URL (solo lectura) -->
                        <input class="inputreadonly" type="text" id="foto_url" readonly name="foto_url"><br>
                    </div>

                    <div class="form-group">
                        <!-- Estado del Contrato -->
                        <label for="estado_contrato">Estado del Contrato:</label>
                        <select class="selectEstado"  id="estado_contrato" name="estado_contrato">
                            <option   value="activo">Activo</option>
                            <option value="inactivo">Inactivo</option>
                        </select><br>
                    </div>
                    <!-- Botón de acción -->
                    <div class="form-group">
                        <button type="submit">Guardar Cambios</button>
                    </div>
                </div>
            </form>

        </div>


        <div class="buttons-dad">
            <button id="delete-persona">Eliminar Persona</button>
            <button id="view-docs-button">Ver Documentos</button>

        </div>


        <!-- Botón para ver documentos -->
    </div>

    <!-- Botón para abrir el modal -->
    <button id="btnAbrirModal">Registrar Personal</button>

    <!-- Modal de registro -->
    <div id="modalRegistro" class="modal" style="display: none;">
        <div class="modal-content">
            <span id="cerrarModal" class="close">&times;</span>

            <form id="registroForm" class="form-registrar-personal" enctype="multipart/form-data">


                <div>

                    <div class="form-group">
                        <label for="nombres" class="form-label">Nombres:</label>
                        <input type="text" id="nombres" name="nombres" class="form-input" required>
                    </div>

                    <div class="form-group">
                        <label for="apellidos" class="form-label">Apellidos:</label>
                        <input type="text" id="apellidos" name="apellidos" class="form-input" required>
                    </div>

                    <div class="form-group">
                        <label for="cedula" class="form-label">Cédula:</label>
                        <input type="text" id="cedula" name="cedula" class="form-input" required>
                    </div>

                    <div class="form-group">
                        <label for="fecha_ingreso" class="form-label">Fecha de Ingreso:</label>
                        <input type="date" id="fecha_ingreso" name="fecha_ingreso" class="form-input" required>
                    </div>

                    <div class="form-group">
                        <label for="fecha_terminacion" class="form-label">Fecha de Terminación:</label>
                        <input type="date" id="fecha_terminacion" name="fecha_terminacion" class="form-input">
                    </div>

                    <div class="form-group">
                        <label for="tiempo_trabajo" class="form-label">Tiempo de Trabajo(MESES) :</label>
                        <input type="text" id="tiempo_trabajo" name="tiempo_trabajo" class="form-input">
                    </div>

                    <div class="form-group">
                        <label for="cargo" class="form-label">Cargo:</label>
                        <input type="text" id="cargo" name="cargo" class="form-input">
                    </div>

                    <div class="form-group">
                        <label for="eps" class="form-label">EPS:</label>
                        <input type="text" id="eps" name="eps" class="form-input">
                    </div>

                </div>
                <div>
                    <div class="form-group">
                        <label for="arl" class="form-label">ARL:</label>
                        <input type="text" id="arl" name="arl" class="form-input">
                    </div>

                    <div class="form-group">
                        <label for="caja_compensacion" class="form-label">Caja de Compensación:</label>
                        <input type="text" id="caja_compensacion" name="caja_compensacion" class="form-input">
                    </div>

                    <div class="form-group">
                        <label for="fondo_pension" class="form-label">Fondo de Pensiones:</label>
                        <input type="text" id="fondo_pension" name="fondo_pension" class="form-input">
                    </div>

                    <div class="form-group">
                        <label for="correo" class="form-label">Correo:</label>
                        <input type="email" id="correo" name="correo" class="form-input">
                    </div>

                    <div class="form-group">
                        <label for="celular" class="form-label">Celular:</label>
                        <input type="text" id="celular" name="celular" class="form-input">
                    </div>

                    <div class="form-group">
                        <label for="direccion" class="form-label">Dirección:</label>
                        <textarea id="direccion" name="direccion" class="form-input"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="foto" class="form-label">Foto:</label>
                        <input type="file" id="foto" name="foto" class="form-input">
                    </div>

                    <button type="submit" class="form-button">Registrar Personal</button>

                </div>

            </form>
        </div>
    </div>

    <div id="documents-modal" class="modal" style="display: none;">
        <div class="modal-content">
            <span id="closeDocument" class="close">&times;</span>
            <h1 id="modal-title">Carpetas</h1>


            <!-- Vista de carpetas -->
            <div id="folders-view">
                <ul>
                    <li class="folder" data-folder-id="1">Volantes</li>
                    <li class="folder" data-folder-id="2">Seguridad Social</li>
                    <li class="folder" data-folder-id="3">Documentos</li>
                </ul>
            </div>


        </div>
    </div>

    <!-- Contenedor de los documentos -->
    <div id="documents-view" class="documents-viewCSS" style="display:none;">
        <h3 id="title">Documentos</h3>
        <ul id="documents-list"></ul>

        <!-- Input para seleccionar archivos -->
        <input name="documents" type="file" id="upload-document-input" multiple>

        <!-- Botón para enviar el archivo seleccionado -->
        <button id="upload-document-button" class="btn btn-primary">Subir documento</button>

        <!-- Botón para volver a las carpetas -->
        <button id="back-to-folders" class="btn btn-secondary">Volver a carpetas</button>
    </div>



    <div id="loading-spinner" style="display: none;">
        <p>Cargando...</p>
        <div class="spinner"></div>
    </div>

    <script>
        // DOM Elements

        const foldersView = document.getElementById('folders-view');
        const documentsView = document.getElementById('documents-view');
        const backToFoldersBtn = document.getElementById('back-to-folders');
        const uploadButton = document.getElementById('upload-document-button');
        const uploadInput = document.getElementById('upload-document-input');
        const documentsList = document.getElementById('documents-list');
        const loadingPersonas = document.getElementById('loading-personas');
        const personasList = document.getElementById('personas-list');
        const personaDetails = document.getElementById('persona-details');
        const personaInfo = document.getElementById('persona-info');
        const fotoUploadForm = document.getElementById('foto-upload-form');
        const editForm = document.getElementById('edit-form');
        const deletePersonaBtn = document.getElementById('delete-persona');
        const viewDocsBtn = document.getElementById('view-docs-button');
        const modalRegistro = document.getElementById('modalRegistro');
        const documentsModal = document.getElementById('documents-modal');
        const btnAbrirModal = document.getElementById('btnAbrirModal');
        const btnCerrarModal = document.getElementById('cerrarModal');
        const closeModalDocument = document.querySelector('.close');
        const closeModalButton = document.getElementById('closeDocument');
        const modalCoente = document.querySelector('#documents-modal');
        const registroForm = document.getElementById('registroForm');
        const loadingSpinner = document.getElementById('loading-spinner');


        // Global variables
        let currentFolderId = null;
        let currentPersonId = null;
        let isSubmitting = false;
        let persona = {};
        let isUploadingPhoto = false;
        let isEditingPersona = false;
        let isDeletingPersona = false;
        let isUploadingDocuments = false;
        let isDownloadingDocument = false;

        const baseUrl = "https://tjbtusdhxjczmpvwzqzx.supabase.co/storage/v1/object/public/personal-docs/";

        // Functions
        function cargarPersonalActualizado() {
            calcularTiempoRestante()
            loadingPersonas.style.display = 'block';
            fetch('/api/personas')
                .then(response => response.json())
                .then(data => {
                    loadingPersonas.style.display = 'none';
                    personasList.innerHTML = '';
                    data.personas.forEach(persona => {
                        const li = document.createElement('li');
                        li.className = 'selected-person';
                        li.dataset.personaId = persona.id;
                        li.textContent = `${persona.nombres} ${persona.apellidos}`;
                        li.onclick = () => verDetalles(persona.id);
                        personasList.appendChild(li);
                    });
                })
                .catch(error => {
                    console.error('Error obteniendo las personas:', error);
                    loadingPersonas.textContent = 'Error al cargar las personas';
                });
        }

        function verDetalles(idPersona) {
    console.log("ID Persona recibido:", idPersona);

    // Ocultar el modal de documentos y mostrar la sección de detalles
    documentsModal.style.display = 'none';
    personaInfo.innerHTML = '<div class="loading-spinner"></div>';
    personaDetails.style.display = 'block';

    fetch(`/api/personas/${idPersona}`)
        .then(response => response.json())
        .then(data => {
            persona = data;
            const linkImg = baseUrl + persona.foto_url;
            rellenarFormulario(persona);
            personaInfo.innerHTML = `<img src="${linkImg}" alt="Foto" width="100">`;

            // Llamada a la función para calcular el tiempo restante
            calcularTiempoRestante();
        })
        .catch(error => {
            console.error('Error obteniendo los detalles de la persona:', error);
            personaInfo.innerHTML = 'Error al cargar los detalles';
        });
}


        function rellenarFormulario(persona) {
    const campos = ['nombres', 'apellidos', 'cedula', 'fecha_ingreso', 'fecha_terminacion', 'tiempo_trabajo', 'cargo', 'eps', 'arl', 'caja_compensacion', 'fondo_pension', 'correo', 'celular', 'direccion', 'foto_url', 'estado_contrato'];
    campos.forEach(campo => {
        document.getElementById(campo).value = persona[campo] || '';
    });
}
        
        function optimizeImage(file) {
            return new Promise((resolve, reject) => {
                const img = new Image();
                const reader = new FileReader();

                reader.onload = function (e) {
                    img.onload = function () {
                        const canvas = document.createElement('canvas');
                        const ctx = canvas.getContext('2d');
                        const maxWidth = 800;
                        const maxHeight = 800;
                        let width = img.width;
                        let height = img.height;

                        if (width > height) {
                            if (width > maxWidth) {
                                height = height * (maxWidth / width);
                                width = maxWidth;
                            }
                        } else {
                            if (height > maxHeight) {
                                width = width * (maxHeight / height);
                                height = maxHeight;
                            }
                        }

                        canvas.width = width;
                        canvas.height = height;
                        ctx.drawImage(img, 0, 0, width, height);

                        canvas.toBlob(blob => resolve(blob), 'image/jpeg', 0.8);
                    };
                    img.src = e.target.result;
                };

                reader.onerror = reject;
                reader.readAsDataURL(file);
            });
        }

        function disableForm(disable) {
            const formElements = document.querySelectorAll('#foto-upload-form input, #edit-form input, button');
            formElements.forEach(el => {
                el.disabled = disable;
                if (disable) {
                    el.classList.add('disabled-input');
                } else {
                    el.classList.remove('disabled-input');
                }
            });
        }

        function mostrarOverlay() {
            const overlay = document.createElement('div');
            overlay.classList.add('overlay');
            const spinner = document.createElement('div');
            spinner.classList.add('spinner');
            overlay.appendChild(spinner);
            document.body.appendChild(overlay);
        }

        function ocultarOverlay() {
            const overlay = document.querySelector('.overlay');
            if (overlay) overlay.remove();
        }


        async function deleteDocument(archivoUrl, personaId) {
            try {
                mostrarOverlay();  // Mostrar overlay antes de realizar la eliminación

                const response = await fetch(`/eliminar-documento/${personaId}`, {
                    method: 'DELETE',
                    body: JSON.stringify({ archivoUrl }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                const data = await response.json();

                if (data.success) {
                    swal('Documento eliminado correctamente');
                    loadDocuments(currentFolderId, personaId);  // Recargar la lista de documentos
                } else {
                    swal(`Error al eliminar el documento: ${data.error}`);
                }
            } catch (error) {
                console.error('Error al eliminar documento:', error);
                swal('Hubo un problema al eliminar el documento.');
            } finally {
                ocultarOverlay();  // Ocultar overlay después de la operación
            }
        }

        // Función para cerrar el modal de documentos
        documentsModal.addEventListener('click', function (e) {
            if (e.target === documentsModal) {
                documentsModal.style.display = 'none';
            }
        });

        function showDocuments(folderId, personId) {
            currentFolderId = folderId;
            currentPersonId = personId;
            documentsModal.style.display = 'none';
            documentsView.style.display = 'block';

            // Limpiar y mostrar los documentos
            loadDocuments(folderId, personId);

        }
        // Función para cargar documentos desde el servidor 

        function loadDocuments(folderId, personId) {
            console.log("Cargando documentos de carpeta:", folderId, ", Id de la persona seleccionada:", personId);
            documentsList.innerHTML = '<li>Cargando documentos...</li>';
            mostrarOverlay();  // Mostrar overlay

            fetch(`/api/documentos/${personId}/${folderId}`)
                .then(response => response.json())
                .then(data => {
                    // Validar que `data.documentos` sea un array
                    if (!data.documentos || !Array.isArray(data.documentos) || data.documentos.length === 0) {
                        documentsList.innerHTML = '<li>No hay documentos en esta carpeta.</li>';
                        return;
                    }


                    const title = document.getElementById('title')

                    // Limpiar la lista y agregar documentos
                    documentsList.innerHTML = '';
                    data.documentos.forEach(doc => {
                        const linkUrlDescarga = baseUrl + doc.archivo_url;
                        const li = document.createElement('li');
                        title.textContent = ''

                        li.innerHTML = `
                    ${doc.nombre_documento}
                    <span>
                    <a class="descargar" href="${linkUrlDescarga}">Descargar</a>
                    <span class="delete" onclick="deleteDocument('${doc.archivo_url}', '${personId}')">Borrar</span>
                    </span>
                `;



                        documentsList.appendChild(li);

                        title.textContent = ''
                        if (folderId == 1) {
                            title.textContent = 'Volantes'
                        } else if (folderId == 2) {
                            title.textContent = 'Seguridad Social'

                        }

                        else if (folderId == 3) {

                            title.textContent = 'Documentos'

                        }
                        else {
                            title.textContent = 'Documentos'

                        }
                    });
                })
                .catch(error => {
                    console.error('Error al cargar documentos:', error);
                    documentsList.innerHTML = '<li>Error al cargar documentos</li>';
                })
                .finally(() => {
                    ocultarOverlay();  // Ocultar overlay
                });
        }


        uploadButton.addEventListener('click', () => {
            const files = uploadInput.files;

            if (!files || files.length === 0) {
                swal('Selecciona al menos un archivo para subir.');
                return;
            }

            const formData = new FormData();
            Array.from(files).forEach(file => formData.append('documents', file));
            formData.append('folderId', currentFolderId);

            mostrarOverlay();  // Mostrar overlay

            fetch(`/subir-documentos/${currentPersonId}`, {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    // Verificar que el servidor responde con JSON
                    if (!response.headers.get('content-type')?.includes('application/json')) {
                        throw new Error('La respuesta no es JSON válida.');
                    }
                    return response.json();
                })
                .then(result => {
                    if (result.success) {
                        swal('Documento subido correctamente.');
                        loadDocuments(currentFolderId, currentPersonId);
                        uploadInput.value = ''; // Limpiar el input
                    } else {
                        swal(`Error al subir documentos: ${result.error}`);
                    }
                })
                .catch(error => {
                    console.error('Error al subir documentos:', error);
                    swal('Hubo un problema al subir los documentos. Intenta de nuevo.');
                })
                .finally(() => {
                    ocultarOverlay();  // Ocultar overlay
                });
        });


        backToFoldersBtn.addEventListener('click', () => {

            documentsModal.style.display = 'block';
            documentsView.style.display = 'none';
        });

        document.querySelectorAll('.folder').forEach(folder => {
            folder.addEventListener('click', () => {
                const folderId = folder.getAttribute('data-folder-id'); // Cambiar aquí
                showDocuments(folderId, persona.id);
                const title = document.getElementById('title')
                title.textContent = ''
                if (folderId == 1) {
                    title.textContent = 'Volantes'
                } else if (folderId == 2) {
                    title.textContent = 'Seguridad Social'

                }

                else if (folderId == 3) {

                    title.textContent = 'Documentos'

                }
                else {
                    title.textContent = 'Documentos'

                }
            });
        });

        viewDocsBtn.addEventListener('click', function () {
            currentPersonId = persona.id; // Asegúrate de que 'persona' esté definido globalmente
            documentsModal.style.display = 'block';
        });

        closeModalButton.addEventListener('click', () => {
            documentsModal.style.display = 'none';
        });

        window.addEventListener('click', (event) => {
            if (event.target === documentsModal) {
                documentsModal.style.display = 'none';
            }
        });



        // Función para cerrar modal (si es necesario)
        function cerrarModalDocumentos() {
            const documentsModal = document.getElementById('documentsModal');
            if (documentsModal) {
                documentsModal.style.display = 'none';
            }
        }



        // Event Listeners
        document.addEventListener('DOMContentLoaded', cargarPersonalActualizado);

        fotoUploadForm.addEventListener('submit', function (e) {
            e.preventDefault();
            if (isUploadingPhoto) return;

            const fileInput = this.querySelector('input[type="file"]');
            const file = fileInput.files[0];
            if (!file) return;

            isUploadingPhoto = true;
            disableForm(true);
            mostrarOverlay();

            optimizeImage(file)
                .then(optimizedFile => {
                    const formData = new FormData();
                    formData.append('file', optimizedFile);
                    return fetch(`/subir-fotografia/${persona.id}`, {
                        method: 'POST',
                        body: formData
                    });
                })
                .then(response => response.json())
                .then(data => {
                    swal('Foto subida correctamente');
                    verDetalles(persona.id);
                })
                .catch(error => {
                    console.error('Error subiendo la foto:', error);
                    swal('Error al subir la foto');
                })
                .finally(() => {
                    isUploadingPhoto = false;
                    disableForm(false);
                    ocultarOverlay();
                });
        });

        editForm.addEventListener('submit', function (e) {
            e.preventDefault();
            if (isEditingPersona) return;

            const formData = new FormData(this);
            const updatedPersona = Object.fromEntries(formData.entries());

            isEditingPersona = true;
            disableForm(true);
            mostrarOverlay();

            fetch(`/editar-persona/${persona.id}`, {
                method: 'PUT',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(updatedPersona)
            })
                .then(response => response.json())
                .then(data => {
                    swal('Información actualizada');
                    verDetalles(persona.id);
                    cargarPersonalActualizado();
                })
                .catch(error => {
                    console.error('Error editando la persona:', error);
                    swal('Error al actualizar la información');
                })
                .finally(() => {
                    isEditingPersona = false;
                    disableForm(false);
                    ocultarOverlay();
                });
        });

        deletePersonaBtn.addEventListener('click', function () {
            if (isDeletingPersona) return;

            const confirmDelete = confirm('¿Estás seguro de que deseas eliminar esta persona?');
            if (!confirmDelete) return;

            isDeletingPersona = true;
            disableForm(true);
            mostrarOverlay();

            fetch(`/borrar-persona/${persona.id}`, {
                method: 'DELETE'
            })
                .then(response => response.json())
                .then(() => {
                    swal('Persona eliminada');
                    personaDetails.style.display = 'none';

                    cargarPersonalActualizado();
                })
                .catch(error => {
                    console.error('Error eliminando la persona:', error);
                    swal('Hubo un error al eliminar la persona.');
                })
                .finally(() => {
                    isDeletingPersona = false;
                    disableForm(false);
                    ocultarOverlay();
                });
        });

        viewDocsBtn.addEventListener('click', function () {

            documentsModal.style.display = 'block';
        })


        closeModalButton.addEventListener('click', cerrarModalDocumentos);

        window.addEventListener('click', (event) => {
            if (event.target === documentsModal) {
                cerrarModalDocumentos();
            }
        });

        btnAbrirModal.onclick = () => modalRegistro.style.display = "block";
        btnCerrarModal.onclick = () => modalRegistro.style.display = "none";

        window.onclick = function (event) {
            if (event.target === modalRegistro) {
                modalRegistro.style.display = "none";
            }
        };

        registroForm.addEventListener('submit', async function (event) {
            event.preventDefault();
            if (isSubmitting) return;

            isSubmitting = true;
            loadingSpinner.style.display = 'block';
            mostrarOverlay();  // Mostrar overlay

            const formData = new FormData(this);

            try {
                const response = await fetch('/api/registrar_personal', {
                    method: 'POST',
                    body: formData
                });

                const data = await response.json();

                if (response.ok) {
                    swal('Personal registrado correctamente');
                    modalRegistro.style.display = "none";
                    this.reset();
                    cargarPersonalActualizado();  // Actualizar la lista de personal
                } else {
                    swal('Error al registrar el personal: ' + data.error);
                }
            } catch (error) {
                console.error('Error al registrar el personal:', error);
                swal('Error al enviar los datos al servidor.');
            } finally {
                isSubmitting = false;
                loadingSpinner.style.display = 'none';
                ocultarOverlay();  // Ocultar overlay
            }
        });



        document.getElementById('fecha_ingreso').addEventListener('change', calcularTiempoRestante);
document.getElementById('fecha_terminacion').addEventListener('change', calcularTiempoRestante);


        function calcularTiempoRestante() {
    // Obtener las fechas de ingreso y terminación del contrato
    const fechaIngreso = new Date(document.getElementById('fecha_ingreso').value);
    const fechaTerminacion = new Date(document.getElementById('fecha_terminacion').value);

    // Validar si las fechas están correctamente ingresadas
    if (isNaN(fechaIngreso) || isNaN(fechaTerminacion)) {
        document.getElementById('tiempo_restante').innerText = "Por favor, ingrese ambas fechas correctamente.";
        return;
    }

    // Calcular la diferencia entre las dos fechas en milisegundos
    const diferencia = fechaTerminacion - fechaIngreso;

    // Convertir la diferencia de milisegundos a días y meses
    const diasRestantes = Math.floor(diferencia / (1000 * 60 * 60 * 24)); // Milisegundos a días
    const mesesRestantes = Math.floor(diasRestantes / 30); // Aproximación de meses (30 días promedio)

    // Actualizar el texto con los días y meses restantes
    const tiempoRestanteText = `${mesesRestantes} meses y ${diasRestantes % 30} días.`;
    document.getElementById('tiempo_restante').innerText = tiempoRestanteText;
}
    </script>


</body>

</html>